# Ignora la carpeta de dependencias
node_modules/
coverage/

# Ignora archivos compilados de TypeScript
dist/

# Archivos del sistema (opcional)
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de entorno
.env